@import url(reset.css);

:root {
    --app-body-background-color: #fff;
    --app-body-text-color: #565656; 
    --app-gray-section: #f3f6ff;
    --app-title-color: #0b0f19;
    --app-header-background-color: #fff;
    --app-header-text-color: #0b0f19;
    --app-button-background-color: #6366f1;
    --app-button-text-color: #fff;
    --app-button-hover-background-color: #fff;
    --app-button-hover-text-color: #6366f1;   
    --app-footer-background-color: #0b0f19;
    --app-footer-text-color: #fff;
}

body {
    background-color: var(--app-body-background-color);
    color: var(--app-body-text-color);
}

/* ------------------------------- */
/* CSS Page Container              */
/* ------------------------------- */

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* ------------------------------- */
/* HEADER                           */
/* ------------------------------- */




/* ------------------------------- */
/* MAIN - HERO BANNER              */
/* ------------------------------- */


#hero-banner {
    background: rgba(168, 168, 168, 1) url("../images/hero-banner.jpg") center center / cover no-repeat;
    height: 100vh; 
    text-align: center; 
    overflow: hidden; 
    display: grid;
    place-items: center;   
    background-blend-mode: multiply; 
}

.content {
    display: grid;
    place-items: center;
    text-align: center;
    justify-content: center;
    place-content: center;
}

.h-text {
    display: grid;
    text-align: center;
    justify-content: center;
    display: grid;
    text-align: center;
    color: var(--app-gray-section);
}

.h-title {
    font-size: 55px;
    font-weight: 800;
    color: var(--app-body-background-color);
}

.about-text {
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
}

button {
    width: 200px;
    height: 55px;
    text-align: center;
    background-color: var(--app-button-background-color);
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 0.1);
    margin-top: 20px;
    margin-bottom: 15px;
    text-decoration: none;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-size: 16px;
    color: var(--app-button-text-color);
    transition: all 0.25s ease-in-out;
  }
  
button:hover {
    background-color: var(--app-button-hover-background-color);
    color: var(--app-button-hover-text-color);
    cursor: pointer;
}

button a:hover {
    color: var(--app-button-hover-text-color);
}

.n-index a {
    position:left;
    color: var(--app-body-background-color);
}

.nav-media {
    display:flex;
    text-align: left;
    justify-content: space-between;
}



@media (min-width:768px) {

.container {
    width: 100%;
}

.h-title {
    font-size: 40px;
}

.about-text {
    font-size: 20px;
}

}

@media (max-width:768px) {

.container {
    width: 100%;
}

.h-title {
    font-size: 30px;
}

.about-text {
    font-size: 20px;
}

}



/* ------------------------------- */
/* MAIN - SERVCES                  */
/* ------------------------------- */



/* ------------------------------- */
/* FOOTER                           */
/* ------------------------------- */