@charset "utf-8";

/* ------------------------------- */
/* Reset                           */
/* ------------------------------- */

* , *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    outline: none;
    border-style: none;
    vertical-align: baseline;
}

html {
    height: 100%;
    font-family: Inter, Arial, sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}
/* webkit means that the style will be for Safari, Edge, Mozilla */

body {
    height: 100%;
}

ul, ol {
    list-style: none;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

li, a, i, figure, img, button, 
input[type=button], input[type=submit] {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

input, text, button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

input[type=button], input[type=submit], input[type=reset]  {
    cursor: pointer;
}